html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}

@font-face{
  font-family: 'RobotoR';
  font-weight: 400;
  src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face{
  font-family: 'RobotoL';
  font-weight: 300;
  src: url('assets/fonts/Roboto-Light.ttf');
}

.container {
  width: 1004px;
  margin: 0 auto;
}
.page-title{
  background: #ff5500;
  border-radius: 4px;
}
.page-title h2 {
  color: #fff;
  font-weight: 300;
  font-family: 'RobotoL';
}
.box {
  box-sizing: border-box;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.clear {
  clear: both;
}

body {
  background: #fff;
  color: #000;
  font-family: 'RobotoL', sans-serif;
  font-weight: 300;
}
  body > header {
    box-shadow: 0px 4px 1px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
  }
    body > header .main-logo {
      font-family: 'RobotoR';
      font-size: 16px;
      color: #000;
      margin: 0;
      padding: 14.5px 0;
      float: left;
    }
      body > header ul,
      body > header ul li {
        font-family: 'RobotoR';
        font-size: 16px;
        list-style: none;
        list-style-type: none;
        display: inline-block;
      }
        body > header .primary-menu img {
          width: 15px;
          height: auto;
        }

  body > main {
    margin: 110px 0 100px 0;
  }
  body > footer {
    background: #dcdcdc;
    border-top: 3px solid #808080;
  }
    body > footer p {
      color: #a9a9a9;
      font-size: 13px;
      text-align: center;
      margin: 0;
      padding: 15px 0;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RobotoR'
}

a,
a:active,
a:visited,
a:focus {
  color: #ffa500;
  text-decoration: none;
}

a:hover{
  color: #ff8c00;
}

button,
input[type="button"] {
  background: #ffa500;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
  button:hover,
  input[type="button"]:hover{
    background: #ff8c00;
  }
    button a,
    button a:hover,
    button a:active,
    button a:visited,
    button a:focus {
      color: #fff;
      text-decoration: none;
    }
    input[type="button"].form-check {
      background: #fff;
      color: #000;
      border: 1px solid #000;
      cursor: pointer;
    }

aside.hotel-search {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  padding: 25px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .11);
  border-radius: 5px;
}

section.hotel-list {
  width: 750px;
  display: inline-block;
  vertical-align: top;
  padding: 0px 25px;
}
  section.hotel-list article.hotel {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #f0efef;
  }
    section.hotel-list article.hotel:last-child {
      border-bottom: none;
    }
    article.hotel h1 {
      color: #000;
      font-size: 25px;
      line-height: 25px;
      text-transform: uppercase;
      margin: 10px 0 0 0;
      padding: 0;
    }
    article.hotel h2 {
      color: #666;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase;
      letter-spacing: -2px;
      margin: 0;
      padding: 0;
    }
    article.hotel p {
      color: #333;
      font-size: 16px;
      line-height: 16px;
    }
    article.hotel .media,
    article.hotel .info{
      float: left;
    }
    article.hotel .media{
      width: 24%;
      height: auto;
    }
    article.hotel .info{
      width: 75%;
      box-sizing: border-box;
      padding: 0 0 0 20px;
      margin: 0 0 0 1%;
      border-left: 3px solid #f50;
    }
    button.btnGo a,
    button.btnGo a:hover,
    button.btnGo a:active,
    button.btnGo a:visited,
    button.btnGo a:focus{
      font-family: 'RobotoR';
      font-size: 16px;
      color: #fff;
    }

aside > h2{
  font-family: 'RobotoL';
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
aside form input,
aside form select,
aside form textarea {
  font-family: 'RobotoL';
  font-size: 14px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 5px;
  margin: 5px 0 15px 0;
  width: 100%;
  background: #efefef;
}
aside form input[type="button"].form-check {
  padding: 5px;
  font-size: 18px;
  font-family: 'RobotoL';
  width: 100%;
}
aside form input[type="button"].subBtn {
  padding: 5px;
  font-size: 18px;
  font-family: 'RobotoL';
  text-transform: uppercase;
  width: 100%;
}
article.hotel section.hotels-info{
  box-sizing: border-box;
  width: 750px;
}
article.hotel .perNight,
article.hotel .CountType{
  float: left;
}
article.hotel .perNight{
  box-sizing: border-box;
  width: 20%;
  background: #6a6a6a;
  text-align: center;
  color: #fff;
  margin: 5px 10px 5px 0;
}
  article.hotel .perNight p{
    color: #fff;
  }
article.hotel main.CountType{
  width: 75%x;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
article.hotel .count {
  width: 35%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
article.hotel .type {
  width: 35%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
